@import "tailwindcss";

:root {
	--background: #222436;
	--foreground: #fff;
}

@theme {
  --color-purple: var(--color-purple-500);
  --color-primary: #7A49FE;
  --color-secondary: #F6CC1A;
  --default-transition-duration: 0.4s;
  --default-transition-timing: ease-in-out; 
}

html,
body {
	@apply h-full;
}

body {
	@apply relative;
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-montserrat), sans-serif;
}
